@model System.Data.DataTable
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    <a href="@Url.Action("Create","Product")">Create</a>
</div>
<table class="table table-hover table-striped">
    <tr>
        <td>productcode</td>
        <td>productName</td>
        <td>productcategory</td>
        <td>Salesrate</td>
        <td>Hsncode</td>
    </tr>
    @for(int i=0;i<Model.Rows.Count;i++)
            {
<tr>
    <td>@Model.Rows[i][1]</td>
    <td>@Model.Rows[i][2]</td>
    <td>@Model.Rows[i][3]</td>
    <td>@Model.Rows[i][4]</td>
    <td>@Model.Rows[i][5]</td>
    <td><a href="@Url.Action("Edit","Product",new {@id =Model.Rows[i][0] })">Edit</a></td>
    <td><a href="@Url.Action("Delete","Product",new {@id =Model.Rows[i][0] })">Delete</a></td>



</tr>
  }
</table>
